body{
font-family:Arial;
background:#f0f0f0;
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
}

.box{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.2);
width:400px;
}

.field{
margin-bottom:20px;
}

label{
display:block;
margin-bottom:5px;
font-weight:bold;
}

select{
width:100%;
padding:10px;
font-size:16px;
}

button{
margin-top:10px;
padding:10px;
width:100%;
font-size:16px;
}

.logoPreview{
height:60px;
margin-top:10px;
object-fit:contain;
}

.clock{
font-size:70px;
margin-bottom:10px;
}

.score{
font-size:50px;
margin-bottom:20px;
}
